<div class='ui-g'>
  <div class='ui-g-12'>
    <div class="card no-margin">
      <div class='p-formgrid p-grid'>
        <div class='p-field p-grid p-col-6 p-justify-start p-align-center' style='margin-bottom: 1px;margin-left: 1px;'>
          <h2 style="margin-top: 10px; margin-bottom: 10px;">{{ title | translate }}</h2>
        </div>
        <div class='p-field p-grid p-col-6 p-justify-end p-align-center' style='margin-bottom: 1px;'>
        </div>
      </div>

      <hr style="margin-bottom: 30px;">

      <form [formGroup]='inputForm'>

        <!-- bagian atas -->
        <div class="ui-g p-formgrid p-grid" style="padding-top: 0px; padding-bottom: 0px;">
          <div class="ui-g-12 ui-md-6" style="padding-top: 1px; padding-bottom: 1px;">
            <div class="ui-fluid ui-g-12 ui-md-5">
                <label for="nomor"
                      class='ui-fluid p-sm-3'
                      style='padding: 2px!important;'>{{ 'NamaMember' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
              <input pInputText
                      type='text'
                      id='namaMembership'
                      [ngStyle]="(inputForm.controls.namaMembership.valid ||
                                inputForm.controls.namaMembership.disabled) ? {} :
                                {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='namaMembership'
                      formControlName='namaMembership'
                      maxlength=50>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6" style="padding-top: 1px; padding-bottom: 1px;">
            <div class="ui-fluid ui-g-12 ui-md-5">
                <label for="nomor"
                      class='ui-fluid p-sm-3'
                      style='padding: 2px!important;'>{{ 'KodeMembership' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
              <input pInputText
                      type='text'
                      id='kodeMembership'
                      [ngStyle]="(inputForm.controls.kodeMembership.valid ||
                                inputForm.controls.kodeMembership.disabled) ? {} :
                                {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='kodeMembership'
                      formControlName='kodeMembership'
                      maxlength=50>
            </div>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<div class='ui-g' (resized)="onDivDataTableResized($event)">

    <div class="p-col-12 p-justify-start" style='margin-left: 0px;'>
      <p-button type='submit'
                label="{{ 'Simpan' | translate }}"
                styleClass='ui-button-raised float-left'
                icon='pi pi-save'
                iconPos='left' (onClick)='Save()'
                [disabled]='!inputForm.valid || isViewOnly'
                [style]="{'margin-top': '10px'}"></p-button>

      <!-- <p-button type='button'
                label="{{ 'Hapus' | translate }}"
                styleClass='ui-button-raised ui-button-danger'
                icon='pi pi-trash'
                iconPos='left'
                (onClick)='delete()'
                [style]="{'margin-left': '5px', 'margin-top': '10px'}"
                [disabled]="!inputForm.valid || isViewOnly || mode === 'add'"></p-button> -->

      <p-button type='button' label="{{ 'Kembali' | translate }}" styleClass='ui-button-raised ui-button-success' icon='pi pi-arrow-circle-left' iconPos='left' (click)='back()' [style]="{'margin-left': '5px', 'margin-top': '10px'}"></p-button>    
    </div>

</div>

