<p-card>
  <form [formGroup]='inputForm'>

    <div class="ui-g p-formgrid p-grid">
      <div class="ui-g-12 ui-md-12">

        <!-- baris pertama -->
        <div class="ui-fluid ui-g-12 ui-md-2">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>{{ 'NoUrut' | translate }}</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-1" style="text-align: center;">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>=</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-9" style="padding: 3px;">
          <input 
            pInputText
            type='number'
            id='nourut'
            formControlName='nourut'
            style='width: 40px;'
            maxlength='3'
            [ngClass]="{'ui-state-error' : !inputForm.controls.nourut.valid && !inputForm.controls.nourut.disabled}"
            >
        </div>


        <div class="ui-fluid ui-g-12 ui-md-2">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>{{ 'DaftarBuku' | translate }}</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-1" style="text-align: center;">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>=</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">

          <div [ngStyle]="inputForm.controls.daftarBuku.value.namaBuku === null ? {} : {}">
            <p-autoComplete 
              formControlName="daftarBuku" 
              [suggestions]="filteredBuku" 
              (completeMethod)="filterBuku($event)"
              field="namaBuku"
              [dropdown]="true"
              [minLength]="3"
              (onSelect)="selectedBuku()">
                          
              <ng-template let-data pTemplate="item">
                <div class="ui-helper-clearfix">
                  <div style="float:left;margin:10px 10px 0 0">{{data.namaBuku}}&nbsp;&nbsp;({{data.kodeBuku}})</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-2" style="padding: 3px;">
          <p-button 
            type='button'
            styleClass='ui-button-raised'
            icon='pi pi-question'
            iconPos='left'
            (click)='showInfoCustomer()'>
          </p-button>
        </div>

        <!-- baris kedua -->
        <div class="ui-fluid ui-g-12 ui-md-2">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>{{ 'Harga' | translate }}</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-1" style="text-align: center;">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>=</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-2" style="padding: 3px;">
            <p-inputNumber 
              mode='decimal'
              locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
              name='harga'
              formControlName='harga'
              maxlength=17
              size=auto
              (ngModelChange)="hargaChanged()">
            </p-inputNumber>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 17px;"> </div>


        <!-- baris kedua koma lima -->
        <div class="ui-fluid ui-g-12 ui-md-2">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>{{ 'QTY' | translate }}</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-1" style="text-align: center;">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>=</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-2" style="padding: 3px;">
          <p-inputNumber 
            mode='decimal'
            locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
            name='qty'
            formControlName='qty'
            maxlength=17
            size=auto
            (ngModelChange)="qtyChanged()">
            </p-inputNumber>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 17px;"> </div>




        <!-- baris ketiga -->
        <div class="ui-fluid ui-g-12 ui-md-2">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>{{ 'ProsenDisc' | translate }}</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-1" style="text-align: center;">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>=</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-2" style="padding: 2px;">
            <p-inputNumber 
              mode='decimal'
              locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
              name='pctdisc'
              formControlName='pctdisc'
              maxlength=5
              size=auto
              (ngModelChange)="pctdiscChanged()">
            </p-inputNumber>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-2" style="padding: 2px;">
          <p-inputNumber 
            mode='decimal'
            locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
            name='nilpctdisc'
            formControlName='nilpctdisc'
            maxlength=17
            size=auto>
            </p-inputNumber>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-5" style="padding: 17px;"> </div>

  
      

        <!-- baris kelima -->
        <div class="ui-fluid ui-g-12 ui-md-2">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>{{ 'Netto' | translate }}</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-1" style="text-align: center;">
          <label for="nomor" class='ui-fluid p-sm-3' style='padding: 2px!important;'>=</label>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-2" style="padding: 3px;">
          <p-inputNumber 
            mode='decimal'
            locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
            name='netto'
            formControlName='netto'
            maxlength=17
            size=auto>
          </p-inputNumber>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 17px;"> </div>
        

  

      </div>

    </div>

    <div class="p-col-12 p-justify-start" style='margin-left: 0px;'>
      <span></span>
    </div>

  </form>

  <form [formGroup]='inputForm'>
    <div class='p-formgrid p-grid'>
      <div class='p-field p-grid p-col-0 p-align-start' style='margin-bottom: 1px;margin-left: 2px;'>
        <p-button type='button'
                  label="{{ 'Simpan' | translate }}"
                  styleClass='ui-button-raised'
                  icon='pi pi-save'
                  iconPos='left'
                  (onClick)='Save1()'
                  [disabled]='!inputForm.valid'
                  [style]="{'margin-left': '5px', 'margin-top': '10px'}"></p-button>

        <p-button type='button'
                  label="{{ 'Kembali' | translate }}"
                  styleClass='ui-button-raised ui-button-success'
                  icon='pi pi-arrow-left'
                  iconPos='left'
                  (onClick)='backBack1()'
                  [style]="{'margin-left': '5px', 'margin-top': '10px'}"></p-button>
        </div>
    </div>

  </form>
</p-card>

