<div class='ui-g'>
  <div class='ui-g-12'>
    <div class="card no-margin">
      <div class='p-formgrid p-grid'>
        <div class='p-field p-grid p-col-6 p-justify-start p-align-center' style='margin-bottom: 1px;margin-left: 1px;'>
          <h2 style="margin-top: 10px; margin-bottom: 10px;">{{ title | translate }}</h2>
        </div>
        <div class='p-field p-grid p-col-6 p-justify-end p-align-center' style='margin-bottom: 1px;'>
        </div>
      </div>

      <hr style="margin-bottom: 30px;">

      <form [formGroup]='inputForm'>

        <!-- Row 1 -->
        <div class="ui-g p-formgrid p-grid" style="padding-top: 0px; padding-bottom: 0px;">
          <div class="ui-g-12 ui-md-6" style="padding-top: 1px; padding-bottom: 1px;">
            <div class="ui-fluid ui-g-12 ui-md-5">
                <label for="nomor"
                      class='ui-fluid p-sm-3'
                      style='padding: 2px!important;'>{{ 'KodeBuku' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
              <input pInputText
                      type='text'
                      id='kodeBuku'
                      [ngStyle]="(inputForm.controls.kodeBuku.valid ||
                                inputForm.controls.kodeBuku.disabled) ? {} :
                                {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='kodeBuku'
                      formControlName='kodeBuku'
                      maxlength=50>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6" style="padding-top: 1px; padding-bottom: 1px;">
            <div class="ui-fluid ui-g-12 ui-md-5">
                <label for="nomor"
                      class='ui-fluid p-sm-3'
                      style='padding: 2px!important;'>{{ 'NamaBuku' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
              <input pInputText
                      type='text'
                      id='namaBuku'
                      [ngStyle]="(inputForm.controls.namaBuku.valid ||
                                inputForm.controls.namaBuku.disabled) ? {} :
                                {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='namaBuku'
                      formControlName='namaBuku'
                      maxlength=50>
            </div>
          </div>
        </div>

        <!-- Row 2 -->
        <div class="ui-g p-formgrid p-grid" style="padding-top: 0px; padding-bottom: 0px;">
          <div class="ui-g-12 ui-md-6" style="padding-top: 1px; padding-bottom: 1px;">
            <div class="ui-fluid ui-g-12 ui-md-5">
                <label for="nomor"
                      class='ui-fluid p-sm-3'
                      style='padding: 2px!important;'>{{ 'HargaBuku' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
              <input pInputText
                      type='number'
                      id='hargaBuku'
                      [ngStyle]="(inputForm.controls.hargaBuku.valid ||
                                inputForm.controls.hargaBuku.disabled) ? {} :
                                {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='hargaBuku'
                      formControlName='hargaBuku'
                      maxlength=50>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6" style="padding-top: 1px; padding-bottom: 1px;">
            <div class="ui-fluid ui-g-12 ui-md-5">
                <label for="nomor"
                      class='ui-fluid p-sm-3'
                      style='padding: 2px!important;'>{{ 'StockBuku' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
              <input pInputText
                      type='number'
                      id='stockBuku'
                      [ngStyle]="(inputForm.controls.stockBuku.valid ||
                                inputForm.controls.stockBuku.disabled) ? {} :
                                {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='stockBuku'
                      formControlName='stockBuku'
                      maxlength=50>
            </div>
          </div>
        </div>

        <!-- Row 3 -->
        <div class="ui-g p-formgrid p-grid" style="padding-top: 0px; padding-bottom: 0px;">
          <div class="ui-g-12 ui-md-6" style="padding-top: 1px; padding-bottom: 1px;">
            <div class="ui-fluid ui-g-12 ui-md-5">
              <label class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'GenreBuku' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
              <p-dropdown inputId='dataGenre'
                          [options]='comboStatus'
                          formControlName='dataGenre'
                          appendTo='body'>
              </p-dropdown>
            </div>
          </div>
          <div class="ui-g-12 ui-md-6" style="padding-top: 1px; padding-bottom: 1px;">
            
          </div>
        </div>


        
        

        <!-- bagian paling bawah -->
        <div class="ui-g p-formgrid p-grid" style="padding-top: 0px; padding-bottom: 0px;">
          <div class="ui-g-12 ui-md-6" style="padding-top: 1px; padding-bottom: 1px;">

            <div class="ui-fluid ui-g-12 ui-md-5">
              <label class='ui-fluid p-sm-3'
                      style='padding: 2px!important;'>{{ 'Aktif' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7 p-formgroup-inline" style="padding: 3px;">
              <div *ngFor='let itemAktif of radioButtonAktif' class='p-field-checkbox'>
                <p-radioButton inputId='itemAktif.key'
                              name='itemAktif'
                              [value]='itemAktif.key'
                              formControlName='active'></p-radioButton>
              <label [for]='itemAktif.key'>{{itemAktif.name | translate}}</label>
              </div>
            </div>                     
            
          </div>
        </div>

      </form>

    </div>
  </div>
</div>

<div class='ui-g' (resized)="onDivDataTableResized($event)">

    <div class="p-col-12 p-justify-start" style='margin-left: 0px;'>
      <p-button type='submit'
                label="{{ 'Simpan' | translate }}"
                styleClass='ui-button-raised float-left'
                icon='pi pi-save'
                iconPos='left' (onClick)='Save()'
                [disabled]='!inputForm.valid || isViewOnly'
                [style]="{'margin-top': '10px'}"></p-button>

      <!-- <p-button type='button'
                label="{{ 'Hapus' | translate }}"
                styleClass='ui-button-raised ui-button-danger'
                icon='pi pi-trash'
                iconPos='left'
                (onClick)='delete()'
                [style]="{'margin-left': '5px', 'margin-top': '10px'}"
                [disabled]="!inputForm.valid || isViewOnly || mode === 'add'"></p-button> -->

      <p-button type='button' label="{{ 'Kembali' | translate }}" styleClass='ui-button-raised ui-button-success' icon='pi pi-arrow-circle-left' iconPos='left' (click)='back()' [style]="{'margin-left': '5px', 'margin-top': '10px'}"></p-button>    
    </div>

</div>

