<div class='ui-g'>
  <div class='ui-g-12'>
    <div class="card no-margin">
      <div class='p-formgrid p-grid'>
        <div class='p-field p-grid p-col-6 p-justify-start p-align-center' style='margin-bottom: 1px;margin-left: 1px;'>
          <h2 style="margin-top: 10px; margin-bottom: 10px;">{{ title | translate }}</h2>
        </div>
      </div>

      <hr style="margin-bottom: 30px;">

      <!-- tampilan lama -->

      <!-- <form [formGroup]='inputForm'>

        <div class="ui-g p-formgrid p-grid">
          <div class="ui-g-12 ui-md-5">

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'NamaPembeli' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
              <input pInputText
                      type='text'
                      id='namaPembeli'
                      [ngStyle]="(inputForm.controls.namaPembeli.valid ||
                                inputForm.controls.namaPembeli.disabled) ? {} :
                                {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='nama'
                      formControlName='namaPembeli'
                      maxlength=20>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 17px;">
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'Membership' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" 
                 style="padding: 3px;">

              <div [ngStyle]="inputForm.controls.customer.value.nama === null ? {'border-style': 'solid', 'border-width': '1px', 'border-color': 'red'} : {}">
                <p-autoComplete inputId='customer'
                                formControlName="customer"
                                [suggestions]='filteredCustomer'
                                field='nama'
                                (completeMethod)='filterCustomer($event)'
                                appendTo='body'
                                [minLength]="3"
                                [dropdown]="true"
                                (onBlur)="verifikasiAutocompleteCustomer(inputForm.controls.customer.value)"
                                (onSelect)="selectedCustomer()"
                                >
                  <ng-template let-data pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div style="float:left;margin:10px 10px 0 0">{{data.nama}}&nbsp;&nbsp;({{data.keterangan}})</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 3px;">
              <p-button type='button'
                        styleClass='ui-button-raised'
                        icon='pi pi-question'
                        iconPos='left'
                        (click)='showInfoCustomer()'></p-button>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
                <label for="nmcust"
                      class='ui-fluid p-sm-3'
                      style='padding: 2px!important;'>{{ 'DiskonDaftarBuku' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-8" style="padding: 3px;">
              <input pInputText
                      type='number'
                      id='nmcust'
                      name='nmcust'
                      formControlName='nmcust'
                      maxlength=200>
            </div>

          </div>

          <div class="ui-g-12 ui-md-7">

            <div class="ui-fluid ui-g-12 ui-md-12" style="padding: 17px;">
            </div>

            <div class="ui-fluid ui-g-12 ui-md-12">
              <b>
                <label class='ui-fluid p-sm-3'
                     style='padding: 2px!important;'>{{ 'DetailMember' | translate }}</label>
              </b>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-12" style="padding: 17px;">
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'NamaMember' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <input pInputText
                      type='text'
                      id='namaPembeli'
                      [ngStyle]="(inputForm.controls.namaPembeli.valid ||
                                inputForm.controls.namaPembeli.disabled) ? {} :
                                {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='nama'
                      formControlName='namaPembeli'
                      maxlength=20
                      disabled="true">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'KodeMember' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <input pInputText
                      type='text'
                      id='namaPembeli'
                      [ngStyle]="(inputForm.controls.namaPembeli.valid ||
                                inputForm.controls.namaPembeli.disabled) ? {} :
                                {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='nama'
                      formControlName='namaPembeli'
                      maxlength=20
                      disabled="true">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'KasTitipan' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                                locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                                name='totdisc'
                                formControlName='totdisc'
                                maxlength=17
                                size=auto>
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'PoinMember' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                                locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                                name='totdisc'
                                formControlName='totdisc'
                                maxlength=17
                                size=auto>
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>

          </div>

        </div>

      </form> -->

      <!-- tampilan baru -->

      <form [formGroup]='inputForm'>

        <div class="ui-g p-formgrid p-grid">
          <div class="ui-g-12 ui-md-5">

            <!-- bagian kiri -->
            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'NamaMember' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" 
                 style="padding: 3px;">

              <div [ngStyle]="inputForm.controls.customer.value.nama === null ? {'border-style': 'solid', 'border-width': '1px', 'border-color': 'red'} : {}">
                <p-autoComplete inputId='customer'
                                formControlName="customer"
                                [suggestions]='filteredCustomer'
                                field='nama'
                                (completeMethod)='filterCustomer($event)'
                                appendTo='body' 
                                [minLength]="3"
                                [dropdown]="true"
                                (onBlur)="verifikasiAutocompleteCustomer(inputForm.controls.customer.value)"
                                (onSelect)="selectedCustomer()"
                                >
                  <ng-template let-data pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div style="float:left;margin:10px 10px 0 0">{{data.namaMembership}}&nbsp;&nbsp;({{data.kodeMembership}})</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 3px;">
              
            </div>

            <div class="ui-fluid ui-g-12 ui-md-11">
              <p-accordion>
                <p-accordionTab header="Detail Membership" style="background-color: #fff;">

                  <div class="ui-fluid ui-g-12 ui-md-4">
                    <label for="nomor"
                          class='ui-fluid p-sm-3'
                          style='padding: 2px!important;'>{{ 'KodeMember' | translate }}</label>
                  </div>
                  <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
                    <input pInputText
                            type='text'
                            id='nomor'
                            [ngStyle]="(inputForm.controls.nomor.valid ||
                                      inputForm.controls.nomor.disabled) ? {} :
                                      {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                            name='kodeMember'
                            formControlName='kodeMember'
                            maxlength=20
                            disabled="true">
                  </div>
                  <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 17px;">
                  </div>

                  <div class="ui-fluid ui-g-12 ui-md-4">
                    <label for="nomor"
                          class='ui-fluid p-sm-3'
                          style='padding: 2px!important;'>{{ 'KasTitipan' | translate }}</label>
                  </div>
                  <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
                    <input pInputText
                            type='text'
                            id='nomor'
                            [ngStyle]="(inputForm.controls.nomor.valid ||
                                      inputForm.controls.nomor.disabled) ? {} :
                                      {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                            name='nama'
                            formControlName='nomor'
                            maxlength=20
                            disabled="true">
                  </div>
                  <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 17px;">
                  </div>

                  <div class="ui-fluid ui-g-12 ui-md-4">
                    <label for="nomor"
                          class='ui-fluid p-sm-3'
                          style='padding: 2px!important;'>{{ 'PoinMember' | translate }}</label>
                  </div>
                  <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
                    <input pInputText
                            type='text'
                            id='nomor'
                            [ngStyle]="(inputForm.controls.nomor.valid ||
                                      inputForm.controls.nomor.disabled) ? {} :
                                      {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                            name='nama'
                            formControlName='nomor'
                            maxlength=20
                            disabled="true">
                  </div>
                  <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 17px;">
                  </div>

                </p-accordionTab>
              </p-accordion>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-1">
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4" style="margin-top: 15px;">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'NamaPembeli' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px; margin-top: 15px;">
              <input pInputText
                      type='text'
                      id='namaPembeli'
                      [ngStyle]="(inputForm.controls.namaPembeli.valid ||
                                inputForm.controls.namaPembeli.disabled) ? {} :
                                {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='nama'
                      formControlName='namaPembeli'
                      maxlength=20>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 17px;">
            </div>


          </div>

          <!-- bagian kanan -->
          <div class="ui-g-12 ui-md-7">

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'Bruto' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                                locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                                name='bruto'
                                formControlName='bruto'
                                maxlength=17
                                size=auto>
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'TotalDiskon' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                                locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                                name='totdisc'
                                formControlName='totdisc'
                                maxlength=17
                                size=auto>
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-2">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'Diskon' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-10" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-2" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                                locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                                name='pctdis'
                                formControlName='pctdis'
                                maxlength=17
                                size=auto
                                (onBlur)="hitungNilaiDiskonDariProsen()">
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 3px; width: 3.5%;margin-top: 2px;">
                <label>%</label>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px; width: 26.5%">
                <p-inputNumber mode='decimal'
                                locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                                name='nildis'
                                formControlName='nildis'
                                maxlength=17
                                size=auto
                                (onBlur)="hitungProsenDariNilai()">
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-6" style="padding-top: 3px; padding-bottom: 0px;">
                <textarea rows='1'
                          pInputTextarea
                          name='ketdis'
                          formControlName='ketdis'
                          maxlength=300></textarea>
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'DPP' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                               locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                               name='dpp'
                               formControlName='dpp'
                               maxlength=17
                               size=auto>
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>
    
            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'PPN' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 7px;text-align: right;">
                <label for="nomor"
                      class='ui-fluid p-sm-3'
                      style='padding: 2px!important;'>(10%)</label>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                               locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                               name='ppn'
                               formControlName='ppn'
                               maxlength=17
                               size=auto>
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'Netto' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                               locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                               name='netto'
                               formControlName='netto'
                               maxlength=17
                               size=auto>
                </p-inputNumber>
              </div>
            </div>

          </div>

        </div>

      </form>

      <br>

      <!-- tab panel -->
      <p-tabView [activeIndex]='tabIndex'>

        <!-- tab detail buku -->
        <p-tabPanel header="{{ tab1Title | translate }}">

          <div class='p-formgrid p-grid' #templateBody>
            <div class='p-field p-grid p-col-12 p-align-start p-justify-start' style='margin-bottom: 1px;margin-left: 2px;'>
          
              <app-tabel-detil-lain-lain [(dataTables)]="dataTablesLainLain" 
                                         [isLoadingResultsDataTables]="isLoadingResultsDataTablesLainLain"
                                         [totalRecordsDataTables]="totalRecordsDataTablesLainLain"
                                         [expandedRowsDataTables]="expandedRowsDataTablesLainLain"
                                         [dataTablesWidth]="dataTablesWidth"
                                         (dataTablesChange)="detilLainLainChanged()"
                                         >
              </app-tabel-detil-lain-lain>
               
            </div>
          </div>
    
        </p-tabPanel>

        <!-- tab detail pembayaran -->
        <p-tabPanel header="{{ tab2Title | translate }}">

          <div class='p-formgrid p-grid' #templateBody>
            <div class='p-field p-grid p-col-12 p-align-start p-justify-start' style='margin-bottom: 1px;margin-left: 2px;'>
          
              <app-tabel-detil-lain-lain [(dataTables)]="dataTablesLainLain" 
                                         [isLoadingResultsDataTables]="isLoadingResultsDataTablesLainLain"
                                         [totalRecordsDataTables]="totalRecordsDataTablesLainLain"
                                         [expandedRowsDataTables]="expandedRowsDataTablesLainLain"
                                         [dataTablesWidth]="dataTablesWidth"
                                         (dataTablesChange)="detilLainLainChanged()"
                                         >
              </app-tabel-detil-lain-lain>
               
            </div>
          </div>
    
        </p-tabPanel>

      </p-tabView>

      <!-- detail pembayaran
      <div class="ui-g p-formgrid p-grid">
        <div class="ui-g-12 ui-md-12">
          <div class="ui-fluid ui-g-12 ui-md-12">
            <h3>
              <label for="nomor"
                  class='ui-fluid p-sm-3'
                  style='padding: 2px!important;'>{{ 'DetailPembayaran' | translate }}
              </label>
            </h3>
          </div>
        </div>

        <div class="ui-fluid ui-g-12 ui-md-4">
          <label for="nomor"
                class='ui-fluid p-sm-3'
                style='padding: 2px!important; margin-left: 5px;'>{{ 'TotalPembelianBuku' | translate }}</label>
        </div>
        <div class="ui-g-12 ui-md-6" style="padding: 0px;">
          <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
            <p-inputNumber mode='decimal'
                            locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                            name='totdisc'
                            formControlName='totdisc'
                            maxlength=17
                            size=auto>
            </p-inputNumber>
          </div>
        </div>
        <div class="ui-g-12 ui-md-2" style="padding: 0px;">
        </div>
        
        <div class="ui-fluid ui-g-12 ui-md-4">
          <label for="nomor"
                class='ui-fluid p-sm-3'
                style='padding: 2px!important; margin-left: 5px;'>{{ 'TotalPembayaranViaPoin' | translate }}</label>
        </div>
        <div class="ui-g-12 ui-md-4" style="padding: 0px;">
          <div class="ui-fluid ui-g-12 ui-md-6" style="padding: 3px;">
            <p-inputNumber mode='decimal'
                            locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                            name='totdisc'
                            formControlName='totdisc'
                            maxlength=17
                            size=auto>
            </p-inputNumber>
          </div>
        </div>
        <div class="ui-fluid ui-g-12 ui-md-2">
          <label for="nomor"
                class='ui-fluid p-sm-3'
                style='padding: 2px!important; margin-left: -200px;'>{{ 'PakaiPoin' | translate }}
            </label>
        </div>
        <div class="ui-g-12 ui-md-2" style="padding: 0px; margin-left: -290px; line-height: 3.5;">
          <p-inputSwitch formControlName="enabled">
          </p-inputSwitch>
        </div>
      
        <div class="ui-fluid ui-g-12 ui-md-4">
          <label for="nomor"
                class='ui-fluid p-sm-3'
                style='padding: 2px!important; margin-left: 5px;'>{{ 'TotalInvoice' | translate }}</label>
        </div>
        <div class="ui-g-12 ui-md-6" style="padding: 0px;">
          <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
            <p-inputNumber mode='decimal'
                            locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                            name='totdisc'
                            formControlName='totdisc'
                            maxlength=17
                            size=auto>
            </p-inputNumber>
          </div>
        </div>
        <div class="ui-g-12 ui-md-2" style="padding: 0px;">
        </div>

        <div class="ui-fluid ui-g-12 ui-md-4">
          <label for="nomor"
                class='ui-fluid p-sm-3'
                style='padding: 2px!important; margin-left: 5px;'>{{ 'TotalPerolehanPoin' | translate }}</label>
        </div>
        <div class="ui-g-12 ui-md-6" style="padding: 0px;">
          <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
            <p-inputNumber mode='decimal'
                            locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                            name='totdisc'
                            formControlName='totdisc'
                            maxlength=17
                            size=auto>
            </p-inputNumber>
          </div>
        </div>
        <div class="ui-g-12 ui-md-2" style="padding: 0px;">
        </div>

      </div> -->

      <!-- table detail pembayaran -->
      <!-- <p-tabView [activeIndex]='tabIndex'>

        <p-tabPanel header="{{ tab2Title | translate }}">

          <div class='p-formgrid p-grid' #templateBody>
            <div class='p-field p-grid p-col-12 p-align-start p-justify-start' style='margin-bottom: 1px;margin-left: 2px;'>
          
              <app-tabel-detil-lain-lain [(dataTables)]="dataTablesLainLain" 
                                         [isLoadingResultsDataTables]="isLoadingResultsDataTablesLainLain"
                                         [totalRecordsDataTables]="totalRecordsDataTablesLainLain"
                                         [expandedRowsDataTables]="expandedRowsDataTablesLainLain"
                                         [dataTablesWidth]="dataTablesWidth"
                                         (dataTablesChange)="detilLainLainChanged()"
                                         >
              </app-tabel-detil-lain-lain>
               
            </div>
          </div>
    
        </p-tabPanel>
      </p-tabView> -->

    </div>
  </div>
</div>



<div class='ui-g' (resized)="onDivDataTableResized($event)">

    <div class="p-col-12 p-justify-start" style='margin-left: 0px;'>
      <p-button type='submit'
                label="{{ 'Simpan' | translate }}"
                styleClass='ui-button-raised float-left'
                icon='pi pi-save'
                iconPos='left' (onClick)='Save()'
                [disabled]='!inputForm.valid || isViewOnly'
                [style]="{'margin-top': '10px'}"></p-button>

      <p-button type='button'
                label="{{ 'Hapus' | translate }}"
                styleClass='ui-button-raised ui-button-danger'
                icon='pi pi-trash'
                iconPos='left'
                (onClick)='delete()'
                [style]="{'margin-left': '5px', 'margin-top': '10px'}"
                [disabled]="selectedData.status.trim() !== 'NOSENT' || isViewOnly || mode === 'add'"></p-button>

      <p-button type='button' label="{{ 'Kembali' | translate }}" styleClass='ui-button-raised ui-button-success' icon='pi pi-arrow-circle-left' iconPos='left' (click)='back()' [style]="{'margin-left': '5px', 'margin-top': '10px'}"></p-button>    
    </div>

</div>

