<div class='ui-g'>
  <div class='ui-g-12'>
    <div class="card no-margin">
      <div class='p-formgrid p-grid'>
        <div class='p-field p-grid p-col-6 p-justify-start p-align-center' style='margin-bottom: 1px;margin-left: 1px;'>
          <h2 style="margin-top: 10px; margin-bottom: 10px;">{{ title | translate }}</h2>
        </div>
      </div>

      <hr style="margin-bottom: 30px;">


      <!-- tampilan baru -->

      <form [formGroup]='inputForm'>

        <div class="ui-g p-formgrid p-grid">
          <div class="ui-g-12 ui-md-5">

            <!-- bagian kiri -->

            <div class="ui-fluid ui-g-12 ui-md-4" style="margin-top: 15px;">
              <label for="namaPembeli" class='ui-fluid p-sm-3' style='padding: 2px!important;'>{{ 'NamaPembeli' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px; margin-top: 15px;">
              <input 
                pInputText
                type='text'
                id='namaPembeli'
                [ngStyle]="(inputForm.controls.namaPembeli.valid || inputForm.controls.namaPembeli.disabled) ? {} : {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                name='namaPembeli'
                formControlName='namaPembeli'
                maxlength=20
              >
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'NamaMember' | translate }}</label>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-7" 
                 style="padding: 3px;">

              <div [ngStyle]="inputForm.controls.membership.value.namaMembership === null ? {'border-style': 'solid', 'border-width': '1px', 'border-color': 'red'} : {}">
                <p-autoComplete
                  formControlName="membership" 
                  [suggestions]="filteredMembership" 
                  (completeMethod)="filterMembership($event)"
                  field="namaMembership"
                  [dropdown]="true"
                  [minLength]="3"
                  (onSelect)="selectedMembership()"
                  >
                  <ng-template let-data pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div style="float:left;margin:10px 10px 0 0">{{data.namaMembership}}&nbsp;&nbsp;({{data.kodeMembership}})</div>
                    </div>
                  </ng-template>
                </p-autoComplete>
              </div>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 3px;">
              
            </div>

            <div class="ui-fluid ui-g-12 ui-md-12">
              <p-accordion>
                <p-accordionTab header="Detail Membership" style="background-color: #fff;">

                  <div class="ui-fluid ui-g-12 ui-md-4">
                    <label for="kodeMember" style='padding: 2px!important;'>{{ 'KodeMember' | translate }}</label>
                  </div>
                  <div class="ui-fluid ui-g-12 ui-md-8" style="padding: 3px;">
                    <input pInputText
                      type='text'
                      id='kodeMember'
                      [ngStyle]="(inputForm.controls.kodeMember.valid || inputForm.controls.kodeMember.disabled) ? {} : {'border-style': 'solid', 'border-width': 'thin', 'border-color': 'red', 'border-radius': '1px'}"
                      name='kodeMember'
                      formControlName='kodeMember'
                      maxlength=20
                      disabled="true">
                  </div>

                  <div class="ui-fluid ui-g-12 ui-md-4">
                    <label for="kasTitipan" tyle='padding: 2px!important;'>{{ 'KasTitipan' | translate }}</label>
                  </div>
                  <div class="ui-fluid ui-g-12 ui-md-8" style="padding: 3px;">
                    <p-inputNumber 
                      mode='decimal'
                      locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                      name='kasTitipan'
                      formControlName='kasTitipan'
                      maxlength=17
                      disabled="true"
                      size=auto>
                    </p-inputNumber>
                  </div>


                  <div class="ui-fluid ui-g-12 ui-md-4">
                    <label for="pointMember" tyle='padding: 2px!important;'>{{ 'PoinMember' | translate }}</label>
                  </div>
                  <div class="ui-fluid ui-g-12 ui-md-8" style="padding: 3px;">
                    <p-inputNumber 
                      mode='decimal'
                      locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                      name='pointMember'
                      formControlName='pointMember'
                      maxlength=17
                      disabled="true"
                      size=auto>
                    </p-inputNumber>
                  </div>


                  <div class="ui-fluid ui-g-12">
                    <label *ngIf="inputForm.value.flagDapatPromo5PembeliPertama" tyle='padding: 2px!important;'>{{ 'Berpotensimendapatkanpromo' | translate }}</label>
                    <label *ngIf="!inputForm.value.flagDapatPromo5PembeliPertama" tyle='padding: 2px!important;'>{{ 'MaafAndaTidakBerpotensimendapatkanpromo' | translate }}</label>
                  </div>
                 

                </p-accordionTab>
              </p-accordion>
            </div>
            <div class="ui-fluid ui-g-12 ui-md-1">
            </div>

            
            <!-- <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 17px;">
            </div> -->


          </div>

          <!-- bagian kanan -->
          <div class="ui-g-12 ui-md-7">

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'Bruto' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                                locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                                name='bruto'
                                formControlName='bruto'
                                maxlength=17
                                size=auto>
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'TotalDiskon' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                                locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                                name='totdisc'
                                formControlName='totdisc'
                                maxlength=17
                                size=auto>
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-2">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'Diskon' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-10" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-2" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                                locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                                name='discHeader'
                                formControlName='discHeader'
                                maxlength=17
                                size=auto
                                (onBlur)="hitungNilaiDiskonDariProsen()">
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-1" style="padding: 3px; width: 3.5%;margin-top: 2px;">
                <label>%</label>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px; width: 26.5%">
                <p-inputNumber mode='decimal'
                                locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                                name='nildis'
                                formControlName='nildis'
                                maxlength=17
                                size=auto
                                (onBlur)="hitungProsenDariNilai()">
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-6" style="padding-top: 3px; padding-bottom: 0px;">
                <textarea rows='1'
                          pInputTextarea
                          name='keterangan'
                          formControlName='keterangan'
                          maxlength=300></textarea>
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'DPP' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                               locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                               name='dpp'
                               formControlName='dpp'
                               maxlength=17
                               size=auto>
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>
    
            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'PPN' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 7px;text-align: right;">
                <label for="nomor"
                      class='ui-fluid p-sm-3'
                      style='padding: 2px!important;'>(10%)</label>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber mode='decimal'
                               locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                               name='ppn'
                               formControlName='ppn'
                               maxlength=17
                               size=auto>
                </p-inputNumber>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
            </div>

            <div class="ui-fluid ui-g-12 ui-md-4">
              <label for="nomor"
                    class='ui-fluid p-sm-3'
                    style='padding: 2px!important;'>{{ 'Netto' | translate }}</label>
            </div>
            <div class="ui-g-12 ui-md-8" style="padding: 0px;">
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
              </div>
              <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                <p-inputNumber 
                  mode='decimal'
                  locale="{{defaultLanguageState.getDefaultLanguage().locale}}"
                  name='netto'
                  formControlName='netto'
                  maxlength=17
                  size=auto>
                </p-inputNumber>
              </div>
            </div>

          </div>

        </div>

      </form>

      <br>

      <!-- tab panel -->
      <p-tabView [activeIndex]='tabIndex'>

        <!-- tab detail buku -->
        <p-tabPanel header="{{ tab1Title | translate }}">

          <div class='p-formgrid p-grid' #templateBody>
            <div class='p-field p-grid p-col-12 p-align-start p-justify-start' style='margin-bottom: 1px;margin-left: 2px;'>
          
              <app-tabel-detil-pembelian-buku 
                [(dataTables)]="dataTablesLainLain" 
                [isLoadingResultsDataTables]="isLoadingResultsDataTablesLainLain"
                [totalRecordsDataTables]="totalRecordsDataTablesLainLain"
                [expandedRowsDataTables]="expandedRowsDataTablesLainLain"
                [dataTablesWidth]="dataTablesWidth"
                (dataTablesChange)="detilLainLainChanged()"
              >
              </app-tabel-detil-pembelian-buku>
               
            </div>
          </div>
    
        </p-tabPanel>

        <!-- tab detail pembayaran -->
        <p-tabPanel header="{{ tab2Title | translate }}">

          <div class='p-formgrid p-grid' #templateBody>
            <div class='p-field p-grid p-col-12 p-align-start p-justify-start' style='margin-bottom: 1px;margin-left: 2px;'>
          
              <!-- <app-tabel-detil-lain-lain 
                [(dataTables)]="dataTablesLainLain" 
                [isLoadingResultsDataTables]="isLoadingResultsDataTablesLainLain"
                [totalRecordsDataTables]="totalRecordsDataTablesLainLain"
                [expandedRowsDataTables]="expandedRowsDataTablesLainLain"
                [dataTablesWidth]="dataTablesWidth"
                (dataTablesChange)="detilLainLainChanged()"
              >
              </app-tabel-detil-lain-lain> -->
               
            </div>
          </div>
    
        </p-tabPanel>

      </p-tabView>

    </div>
  </div>
</div>



<div class='ui-g' (resized)="onDivDataTableResized($event)">

    <div class="p-col-12 p-justify-start" style='margin-left: 0px;'>
      <p-button 
        type='submit'
        label="{{ 'Simpan' | translate }}"
        styleClass='ui-button-raised float-left'
        icon='pi pi-save'
        iconPos='left' (onClick)='Save()'
        [disabled]='!inputForm.valid || isViewOnly'
        [style]="{'margin-top': '10px'}">
      </p-button>

      <p-button 
        type='button'
        label="{{ 'Hapus' | translate }}"
        styleClass='ui-button-raised ui-button-danger'
        icon='pi pi-trash'
        iconPos='left'
        (onClick)='delete()'
        [style]="{'margin-left': '5px', 'margin-top': '10px'}"
        [disabled]="selectedData.status.trim() !== 'NOSENT' || isViewOnly || mode === 'add'">
      </p-button>

      <p-button type='button' label="{{ 'Kembali' | translate }}" styleClass='ui-button-raised ui-button-success' icon='pi pi-arrow-circle-left' iconPos='left' (click)='back()' [style]="{'margin-left': '5px', 'margin-top': '10px'}"></p-button>    
    </div>

</div>

