<div class='ui-g' (resized)="onDivDataTableResized($event)"></div>
  <div class='ui-g-12'>
    <div class="card no-margin">

      <div class='p-formgrid p-grid'>
        <div class='p-field p-grid p-col-6 p-justify-start p-align-center' style='margin-bottom: 1px;margin-left: 1px;'>
          <h2 style="margin-top: 10px; margin-bottom: 10px;">{{ title | translate }} - {{ 'Browse' | translate }}</h2>
        </div>
      </div>

      <hr style="margin-bottom: 30px;">

      <form [formGroup]='inputForm'>

        <div class="ui-g p-formgrid p-grid">
          <div class="ui-g-12 ui-md-6">
              <div class="ui-fluid ui-g-12 ui-md-4">
                <label class='ui-fluid p-sm-4'
                       style='padding: 2px!important;'>{{ 'NomorBon' | translate }}</label>
              </div>
              <div class="ui-fluid ui-g-12 ui-md-7" style="padding: 3px;">
                <input pInputText
                       type='text'
                       id='nomorBon'
                       name='nomorBon'
                       formControlName='nomorBon'
                       maxlength=30>
              </div>
              
              <div class="ui-fluid ui-g-12 ui-md-4">
                <label class='ui-fluid p-sm-4'
                       style='padding: 2px!important;'>{{ 'TanggalPembelian' | translate }}</label>
              </div>

              <div class="ui-g-12 ui-md-8" style="padding: 0px;">
                <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                  <p-calendar  id='tanggalAwal' name='tanggalAwal' formControlName='tanggalAwal' dateFormat="dd/mm/yy"> </p-calendar>
                </div>
                <div class="ui-fluid ui-g-12 ui-md-1"  style="padding: 3px; width: 5%; margin-top: 2px;">
                  <label>s/d </label>
                </div>
                <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px;">
                  <p-calendar  id='tanggalAkhir' name='tanggalAkhir' formControlName='tanggalAkhir' dateFormat="dd/mm/yy"> </p-calendar>
                </div>

              </div>
              

          </div>
        </div>

        <div class='p-formgrid p-grid'>
          <div class='p-field p-grid p-col-12 p-align-start p-justify-start' style='margin-bottom: 1px;margin-left: 2px;'>
              <p-button type='submit' label="{{ 'Cari' | translate }}" styleClass='ui-button-raised ui-button-primary' icon='pi pi-search' iconPos='left' (click)='search()' [style]="{'margin-left': '5px', 'margin-top': '10px'}"></p-button>
          </div>
        </div>

      </form>

      <br>

    <div class='p-formgrid p-grid'>
      <div class='p-field p-grid p-col-12 p-align-start p-justify-start' style='margin-bottom: 1px;margin-left: 2px;'>

        <p-table class='app-primeng-table'
                 [value]='dataTables'
                 [totalRecords]='totalRecordsDataTables'
                 [lazy]='true'
                 [paginator]='true'
                 [rows]='numberOfRowsDataTables'
                 ([loading])='isLoadingResultsDataTables'
                 (onLazyLoad)='doInstantFilterSearch($event)'
                 [scrollable]='true'
                 [style]="{width: dataTablesWidth}"
                 styleClass="custom_ptable"
                 [(first)]="firstSearch">

          <ng-template pTemplate='colgroup' let-columns>
            <colgroup *ngFor='let col of columns; index as i'>
              <col [ngStyle]="{'width': col.width}">
            </colgroup>
          </ng-template>
      
          <ng-template pTemplate='header' let-columns>
            <tr>
              <th pSortableColumn = 'nomorBon'>
                <div>
                  {{ 'NomorBon' | translate }}
                  <p-sortIcon field='nomorBon'></p-sortIcon>  
                </div>
              </th>

              <th>
                <div>
                  {{ 'TanggalPembelianBuku' | translate }}
                </div>
              </th>

              <th pSortableColumn = 'namaPembeli'>
                <div>
                  {{ 'NamaPembeli' | translate }}
                  <p-sortIcon field='namaPembeli'></p-sortIcon>
                </div>
              </th>

              <th>
                <div>
                  {{ 'Keterangan' | translate }}
                </div>
              </th>

  

              <th>
                <div>
                  {{ 'TotalPembelian' | translate }}
                </div>
              </th>
            </tr>

          </ng-template>

          <ng-template pTemplate='body' let-row>
            <tr>
              <td>
                <a href='javascript:void(0);' (click)='editDataTables(row)'>
                  {{row.nomorBon}}
                </a>
              </td>

              <td>
                {{row.tanggalBon | dateFormat : 'shortDate' : defaultLanguageState.getDefaultLanguage().locale}}
              </td>

              <td>
                {{row.namaPembeli}}
              </td>

              <td>
                {{row.keterangan }}
              </td>

              <td style="direction: rtl;">
                Rp. {{row.totalPembelianBuku | number:'.0': defaultLanguageState.getDefaultLanguage().locale}}

              </td>
    

            </tr>
          </ng-template>

          <ng-template pTemplate='footer'>
            <tr>
              <td colspan="5">
                <div>
                  <a pTooltip="{{ 'TambahData' | translate }}"
                     tooltipPosition="bottom"
                     (click)='addDataTables()'
                     style="margin-left: 30px;cursor: pointer;">
  
                    <i class="fa fa-plus">&nbsp;&nbsp;
                      <span style="font-family: 'Source Sans Pro', Arial, sans-serif;">
                        {{ 'TambahData' | translate }}
                      </span>
                    </i>
  
                  </a>    
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate='summary'>
            Total : {{ totalRecordsDataTables }} records
          </ng-template>
        </p-table>

      </div>
    </div>

  </div>
</div>

